@media only screen 
and (max-width: 643px) and (orientation:landscape), (min-width:600px) {

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: none;
        outline: none;
    }

    html, body
    {
     height: 100%;
     overflow: hidden
    }

    body {
        background: linear-gradient(to bottom, #860101, rgb(7, 0, 0));
        width: 100vw;
        height: 100vh;
        margin-top: 1em;
    }

    .page-container {
        display:grid;
        grid-gap:2em;
        grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .logo {
        display:flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .logo-image{
        width:25vw;
        height:20vh;
    }

    .tragaperras-container {
        grid-row-start: 2;
        grid-column: 3/ span 4;
        display: flex;
        justify-content: center;
    }

    .jackpot {
        position:absolute;
    }

    .estrellas {
        position:absolute;
        right:70px;
        top:150px;
    }

    .listas-container {
        grid-row:2/span 3;
        grid-column: 1/span 2;
        display:flex;
        justify-content: space-between;
        margin-left:1em;
    }

    .lista-dead-container{
        background-color: #D4B311;
        height: 70%;
        width:45%;
        background: linear-gradient(180deg, #FFE600 0%, #7a6706 60%);
        text-align: center;
        font-size: 14px;
        -webkit-text-stroke: 0.2px rgb(251, 0, 0);
    }

    .lista-alive-container{
        height: 70%;
        width:45%;
        background-color: #D4B311;
        background: linear-gradient(180deg, #FFE600 0%, #7a6706 60%);
        text-align: center;
        font-size: 14px;
        -webkit-text-stroke: 0.2px rgb(251, 0, 0);
        margin-right:2px;
        margin-bottom: 0px;
    }
    
    .input-container {
        grid-column: 3;
        grid-row-start:3;
    }

    .boton-matar{
        grid-column: 4;
        grid-row-start:3;
    }

    .kill-button{
        margin-top: 1em;
        width: 159px;
        height: 51.87px;
        border-radius: 20px;
        background:linear-gradient(to bottom, #D4B311, rgb(255, 179, 3));
        font-family: "Inter sans-serif";
        font-weight: bold;
        cursor: pointer;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        transition: all ease 0.5s;
    }
    .kill-button:after,
    .kill-button:before{
        width: 80px;
        height: 200px;
        display: block;
        transform: rotate(45deg);
        top: -60px;
        position: absolute;
        transition: none;
        right:-45%;
        cursor: pointer;
    }
    .kill-button::before{
        left: -48%;
    }
    .kill-button:hover{
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        background:#a52727
    }
    .kill-button:hover:after,
    .kill-button:hover:before{
        transform: rotate(45deg), scaleX(130%);
        transition: all ease 0.5s;
    }

    .yourname-button{
        width: 100px;
        height: 23px;
        left: 102px;
        top: 107px;
        background: linear-gradient(180deg, #ED0000 45.83%, rgba(221, 0, 0, 0) 100%);
        border-radius: 2px;
    }
    
    .submit-button{
        margin-top: 1em;
        width: 100px;
        height: 30px;
        border-radius: 20px;
        background:linear-gradient(to bottom, #D4B311, rgb(255, 179, 3));
        font-family: "Inter sans-serif";
        font-weight: bold;
        cursor: pointer;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        transition: all ease 0.5s;
    }
    .submit-button:after,
    .submit-button:before{
        width: 80px;
        height: 200px;
        display: block;
        transform: rotate(45deg);
        top: -60px;
        position: absolute;
        transition: none;
        right:-45%;
        cursor: pointer;
    }
    .submit-button::before{
        left: -48%;
    }
    .submit-button:hover{
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        background:#a52727
    }
    .submit-button:hover:after,
    .submit-button:hover:before{
        transform: rotate(45deg), scaleX(130%);
        transition: all ease 0.5s;
    }

    }

