* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

html,
body {
    height: 100%;
    overflow: hidden
}

body {
    background: linear-gradient(to bottom, #860101, rgb(7, 0, 0));
}

.grid-container {

    display: flex;
    flex-direction: row-reverse;
}

.logo {
    margin-right: 35%;
    width: 85%;

}

.boton_logo {
    margin-right: 10%;
    cursor: pointer;
    background: none;
    width: 275px;
}

.parca {
    width: 77%;
    height: 100%;

}

.parca {
    width: 77%;
    height: 100%;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#au {
    display: none;
}

header {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    margin-right: 28%;
    margin-top: 1em;
    width: 159px;
    height: 51.87px;
    left: 96px;
    top: 351px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #d4b311, rgb(255, 179, 3));
    font-family: "Inter sans-serif";
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: all ease 0.5s;
}

.boton:after,
.boton:before {
    width: 80px;
    height: 200px;
    display: block;
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right: -45%;
    cursor: pointer;
}

.boton:before {
    left: -48%;
}

.boton:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #a52727
}

.boton:hover:after,
.boton:hover:before {
    transform: rotate(45deg), scaleX(130%);
    transition: all ease 0.5s;
}